.item-panel {
    border: 2px solid black;
    padding: 0.5rem;
    background-color: white;
    border-radius: var(--rad);
    -moz-border-radius: var(--rad);
    -webkit-border-radius: var(--rad);
    -webkit-box-shadow:0px 0px 10px 6px #524c4c ;
    -moz-box-shadow:0px 0px 10px 6px #524c4c ;
    box-shadow:0px 0px 10px 6px #524c4c ;
}